div(style="height:500px;width:100%;position:relative;" class="background-default")
    div(class="navbar")
        div(class="container")
            div(class="navbar-title")
                span(class="text-white") psychic-ui
            div(class="nav")
                a(class="text-white" href="https://github.com/gabrielcsapo/psychic-ui" target="_blank") Source
                div(class="dropdown btn btn-info")
                    div(class="dropdown-title") Themes
                    div(class="dropdown-content dropdown-content-right")
                        ul
                            li
                                a(href="/psychic-ui") Base
                            li
                                a(href="/psychic-ui/cosmo.html") Cosmo
                            li
                                a(href="/psychic-ui/cyborg.html") Cyborg
                            li
                                a(href="/psychic-ui/paper.html") Paper
                            li
                                a(href="/psychic-ui/perisian.html") Perisian

    div(class="text-center")
        h3(class=into_text) Welcome!
        div(class=into_text) psychic-ui is a minimalistic CSS only framework
        if title
            span(class="badge badge-primary" style="display:inline-block;margin-top:10px;")=title
        br
        br
        div.grid
            div.col-3-12
            div.col-6-12
                ul.list.text-left
                    li.list-item.list-item-white unminified
                        div.badge.badge-default=size.unminified
                    li.list-item.list-item-white minified
                        div.badge.badge-default=size.minified
                    li.list-item.list-item-white gzipped
                        div.badge.badge-default=size.gzipped
            div.col-3-12

    div(class="navbar navbar-center" style="bottom:0;position:absolute;")
        div(class="container text-center")
            div(class=into_text) created with ♥ by
                a(class=into_text href="http://gabrielcsapo.com") @gabrielcsapo
