hr
h3 Modal
hr

pre(class="prettyprint linenums lang-html")
    button(class="btn btn-{brand}" onclick="location.href='#modalExample{brand}'") modal

    div(class="modal modal-{brand}" id="modalExample{val}")
        div
            a(href="#close" title="Close" class="modal-close") X
            h1 Hello
            hr
            small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed enim vel arcu finibus vehicula a vel nisi. Maecenas a ligula et ipsum consequat hendrerit id ac nibh. Donec vel augue dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

br
each val in ['default', 'primary', 'success', 'info', 'warning', 'danger', 'white', 'black']
    button(class="btn btn-#{val}" onclick="location.href='#modalExample#{val}'") modal

    div(class="modal modal-#{val}" id="modalExample#{val}")
        div
            a(href="#close" title="Close" class="modal-close") X
            h1 Hello
            hr
            small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed enim vel arcu finibus vehicula a vel nisi. Maecenas a ligula et ipsum consequat hendrerit id ac nibh. Donec vel augue dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.


pre(class="prettyprint linenums lang-html")
    div(style="position:relative;width:100%;height:500px;")
        div(class="modal modal-#{val} modal-active modal-absolute")
            div
                a(href="#close" title="Close" class="modal-close") X
                h1 Hello
                hr
                small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed enim vel arcu finibus vehicula a vel nisi. Maecenas a ligula et ipsum consequat hendrerit id ac nibh. Donec vel augue dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

br
div(style="position:relative;width:100%;height:500px;")
    div(class="modal modal-#{val} modal-active modal-absolute")
        div
            a(href="#close" title="Close" class="modal-close") X
            h1 Hello
            hr
            small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed enim vel arcu finibus vehicula a vel nisi. Maecenas a ligula et ipsum consequat hendrerit id ac nibh. Donec vel augue dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
