hr
h3 Button
hr

pre(class="prettyprint linenums lang-html")
    button(class="btn btn-{brand}") {val}
br
each val in ['default', 'primary', 'success', 'info', 'warning', 'danger']
    button(class="btn btn-#{val}") #{val}
br

pre(class="prettyprint linenums lang-html")
    button(class="btn btn-{brand} btn-block") {val}
br
each val in ['default', 'primary', 'success', 'info', 'warning', 'danger']
    button(class="btn btn-#{val} btn-block") #{val}
br

pre(class="prettyprint linenums lang-html")
    button(class="btn border-{brand}") {val}
br
each val in ['default', 'primary', 'success', 'info', 'warning', 'danger']
    button(class="btn border-#{val}") #{val}
br

pre(class="prettyprint linenums lang-html") 
    button(class="btn border-{brand} border-radius-5") {val}
br
each val in ['default', 'primary', 'success', 'info', 'warning', 'danger']
    button(class="btn border-#{val} border-radius-5") #{val}
br
