pre(class="prettyprint linenums lang-html")
    button(class="btn btn-{val}") {val}
br
each val in ['default', 'primary', 'success', 'info', 'warning', 'danger']
    button(class="btn btn-#{val}") #{val}
br

pre(class="prettyprint linenums lang-html")
    button(class="btn border-{val}") {val}
br
each val in ['default', 'primary', 'success', 'info', 'warning', 'danger']
    button(class="btn border-#{val}") #{val}
br

pre(class="prettyprint linenums lang-html") 
    button(class="btn border-{val} border-radius-5") {val}
br
each val in ['default', 'primary', 'success', 'info', 'warning', 'danger']
    button(class="btn border-#{val} border-radius-5") #{val}
br
