hr
h3 Badge
hr
pre(class="prettyprint linenums lang-html")
    each val in ['default', 'primary', 'success', 'info', 'warning', 'danger', 'white', 'black']
        div(class="badge badge-#{val}") #{val}
br
each val in ['default', 'primary', 'success', 'info', 'warning', 'danger', 'white', 'black']
    div(class="badge badge-#{val}") #{val} 

br
pre(class="prettyprint linenums lang-html")
    each val in ['default', 'primary', 'success', 'info', 'warning', 'danger', 'white', 'black']
        div(class="badge border-#{val}") #{val}
br
each val in ['default', 'primary', 'success', 'info', 'warning', 'danger', 'white', 'black']
    div(class="badge border-#{val}") #{val}     
